<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SAPB1.WebForms.Foton.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Selecionar uma camada de manipulação de dados.-->
    <add key="CamadaDAL" value="SAPB1.SqlServerDAL"/>
    <add key="User" value="B1iadmin"/>
    <add key="Password" value="Ramo@2019"/>
    <add key="SAPUrl" value="http://remote.fotonmotors.com.br:8080/B1iXcellerator/exec/ipo/vP.001sap0004.in_HCSX/com.sap.b1i.vplatform.runtime/INB_HT_CALL_SYNC_XPT/INB_HT_CALL_SYNC_XPT.ipo/proc"/>
  </appSettings>
  <!--Define qual banco de dados será utilizado. Com credenciais criptografadas para segurança das informações.-->
  <connectionStrings>
    <!--String de conexão para desenvolvimento.-->
    <!--<add name="SqlServerConexao" providerName="System.Data.SqlClient" connectionString="Data Source=stch.sytes.net;Initial Catalog=SBO_FOTON_PRD;Integrated Security=False;User ID='sa';Password='b1admin';Connect Timeout=30"/>-->
    <add name="SqlServerConexao"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=fotonmotors.dyndns.info;Initial Catalog=SBO_FOTON_NEW_PROD;Integrated Security=False;User ID='sa';Password='Foton##2017';Connect Timeout=30"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
  </system.web>
  <applicationSettings>
    <SAPB1.WebForms.Foton.Properties.Settings>
      <setting name="SAPB1_WebForms_Foton_WsFotonRamo_ipostep_vP_0010000104_in_WCSX_com_sap_b1i_vplatform_runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT_ipo_proc_Service"
        serializeAs="String">
        <value>http://remote.fotonmotors.com.br:8080/B1iXcellerator/exec/ipo/vP.001sap0004.in_HCSX/com.sap.b1i.vplatform.runtime/INB_HT_CALL_SYNC_XPT/INB_HT_CALL_SYNC_XPT.ipo/proc</value>
      </setting>
    </SAPB1.WebForms.Foton.Properties.Settings>
  </applicationSettings>
</configuration>
