<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Selecionar uma camada de manipulação de dados.-->
    <add key="CamadaDAL" value="SAPB1.SqlServerDAL"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ServerSql" value="KENDI-PC" />
    <add key="UsuarioSap" value="admin" />
    <add key="SenhaSap" value="b1admin" />
    <add key="LicencaServerSap" value="000000000800065700" />
    <add key="BancoSap" value="SBO_DESK_BR_PARALELO" />
  </appSettings>
  <!--Define qual banco de dados será utilizado. Com credenciais criptografadas para segurança das informações.-->
  <connectionStrings>
    <!--String de conexão para desenvolvimento. Banco DemoBr-->
    <add name="SqlServerConexao" providerName="System.Data.SqlClient" connectionString="Data Source=54.207.84.59;Initial Catalog=SBO_DESK_BR_PARALELO;Integrated Security=False;User ID='sa';Password='b1admin';Connect Timeout=30"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <sessionState timeout="180"></sessionState>
  </system.web>
</configuration>
